body{
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
label{
    color: white;
    display: block;
    margin: 20px;
    font-weight: bolder;

}
input{
    text-align: center;
    /* border-radius: 20px; */
    height: 30px;
}
.BOX{
    /* display: inline-flex; */

    margin: 30px;
    border: solid 5px rgb(9, 1, 9);
}
.box{
    color: white;
    margin: 10px;
}



